[submodule "AlgorithmsInPython"]
	path = AlgorithmsInPython
	url = http://github.com/pitcany/AlgorithmsInPython.git
[submodule "CPlusPlus"]
	path = CPlusPlus
	url = http://github.com/pitcany/AlgorithmsInCPlusPlus.git
[submodule "Python"]
	path = Python
	url = http://github.com/pitcany/AlgorithmsInPython.git
